<%- include ../header %>
        <link rel="stylesheet" href="/stylesheets/post.css">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/post.js"></script>
<%- include ../nav %>
    <div class="wrap clearfix">
        <div class="leftsection">
            <div class="leftsectionWrap">
                <div class="newArticle">
                    <div class="write">
                        <a class="write_article" href="/writePost">写文章</a>       
                    </div> 
                    <div class="articleBody">
                        <a class="sharer_head" href="user/id/articles" target="_blank">
                            <img src="" alt="" height="40" width="40" >
                        </a>
                        <a class="sharer_name" href="user/id/articles" target="_blank">chanda_yang</a>
                        <em class="share_page">
                            <a href="user/id/credit">我的积分：</a>
                        </em>
                    </div>
                </div>
            </div>
            <div class="recommand">
                <div class="recommand_nav">
                    <ul class="recommand_cat">
                        <li class="active"><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                                    
                    </ul>
                </div> 
            </div>
            <div class="recommand_article_wrap">
                <div class="recommand_article" id="article/id">
                    <a class="title" href="#">一起来看犀牛书</a>
                    <p>山有枢，隰有榆。子有衣裳，弗曳弗娄。子有车马，弗驰弗驱。宛其死矣，他人是愉。
                    山有栲，隰有杻。子有廷内，弗洒弗扫。子有钟鼓，弗鼓弗考。宛其死矣，他人是保。
                    山有漆，隰有栗。子有酒食，何不日鼓瑟？且以喜乐，且以永日。宛其死矣，他人入室。
                    <span><a href="#">[查看全文]</a></span>
                    </p>
                    <div class="article_message">
                        <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                        <a class="author_name" href="#" target="_blank">chanda_yang</a>
                        <a class="article_cat" href="#">javascript</a>
                        <span class="article_time">2天前</span>
                        <span class="browser">2000浏览</span>
                        <span class="like">点赞</span>
                        <span class="comment">评论</span>
                    </div>
                </div>
                <div class="recommand_article" id="article/id">
                    <a class="title" href="#">一起来看犀牛书</a>
                    <p>山有枢，隰有榆。子有衣裳，弗曳弗娄。子有车马，弗驰弗驱。宛其死矣，他人是愉。
                    山有栲，隰有杻。子有廷内，弗洒弗扫。子有钟鼓，弗鼓弗考。宛其死矣，他人是保。
                    山有漆，隰有栗。子有酒食，何不日鼓瑟？且以喜乐，且以永日。宛其死矣，他人入室。
                    <span><a href="#">[查看全文]</a></span>
                    </p>
                    <div class="article_message">
                        <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                        <a class="author_name" href="#" target="_blank">chanda_yang</a>
                        <a class="article_cat" href="#">javascript</a>
                        <span class="article_time">2天前</span>
                        <span class="browser">2000浏览</span>
                        <span class="like">点赞</span>
                        <span class="comment">评论</span>
                    </div>
                </div>
                <div class="recommand_article" id="article/id">
                    <a class="title" href="#">一起来看犀牛书</a>
                    <p>山有枢，隰有榆。子有衣裳，弗曳弗娄。子有车马，弗驰弗驱。宛其死矣，他人是愉。
                    山有栲，隰有杻。子有廷内，弗洒弗扫。子有钟鼓，弗鼓弗考。宛其死矣，他人是保。
                    山有漆，隰有栗。子有酒食，何不日鼓瑟？且以喜乐，且以永日。宛其死矣，他人入室。
                    <span><a href="#">[查看全文]</a></span>
                    </p>
                    <div class="article_message">
                        <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                        <a class="author_name" href="#" target="_blank">chanda_yang</a>
                        <a class="article_cat" href="#">javascript</a>
                        <span class="article_time">2天前</span>
                        <span class="browser">2000浏览</span>
                        <span class="like">点赞</span>
                        <span class="comment">评论</span>
                    </div>
                </div>                                    
            </div>
    	</div>
        <div class="tags fastSectionList">
            <ul class="tags fastSectionNavBar">
                <li class="selected"><a href="#">热门</a></li>
                <li><a href="#">原创</a></li>
            </ul>
            <div class="tags_box">
                <div class="hot fixcont">
                    <div class="tags_mobile_hide">
                        <a href="#">计算机基础</a>
                        <a href="#">javascript</a>
                        <a href="#">css</a>
                        <a href="#">html</a>
                        <a href="#">html5</a>
                        <a href="#">css3</a>
                        <a href="#">jquery</a>
                        <a href="#">angular.js</a>
                        <a href="#">react.js</a>
                    </div>
                    <div>
                        <section id=""></section>
                    </div>
                </div>
                <div class="original hide fixcont">
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                    君子阳阳，左执簧，右招我由房，其乐只且！
                    君子陶陶，左执翿，右招我由敖，其乐只且！
                </div>
            </div>
        </div>
    </div>    
 <%- include ../footer %>