<%- include ../header %>
        <link rel="stylesheet" href="/stylesheets/post.css">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/post.js"></script>
<%- include ../nav %>
    <div class="index-wrap clearfix">
    	 <div class="tags fastSectionList">
    	 	<ul class="tags fastSectionNavBar">
    	 			<li class="selected"><a href="#">热门</a></li>
    	 			<li><a href="#">原创</a></li>
    	 			<li><a href="#">转载</a></li>
    	 	</ul>
    	 	<div class="tags_box">
    	 		<div class="hot fixcont">
    	 			<div class="tags_mobile_hide">
    	 				<a href="#">计算机基础</a>
    	 				<a href="#">javascript</a>
    	 				<a href="#">css</a>
    	 				<a href="#">html</a>
    	 				<a href="#">html5</a>
    	 				<a href="#">css3</a>
    	 				<a href="#">jquery</a>
    	 				<a href="#">angular.js</a>
    	 				<a href="#">react.js</a>
    	 			</div>
    	 			<div>
    	 				<section id=""></section>
    	 			</div>
    	 		</div>
    	 		<div class="original hide fixcont">
    	 			进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的
                    进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的
                    进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的进啊文化的环境互动环节的时候结婚的时间的话会觉得是假的 
    	 		</div>
    	 		<div class="reprint hide fixcont">
    	 			大师级的还是结婚的时间的时候的时候就读书
    	 		</div>
    	 	</div>
    	 </div> 
    	 <div class="rightsection">
        <div class="rightsection_wrap">
              <div class="new_article">
                                  <div class="write">
                                      <a class="write_article" href="/article/publish">写文章</a>       
                                  </div> 
                                  <div class="article_bd">
                                      <a class="sharer_head" href="user/id/articles" target="_blank">
                                          <img src="" alt="" height="40" width="40" >
                                      </a>
                                      <a class="sharer_name" href="user/id/articles" target="_blank">chanda_yang</a>
                                      <em class="share_page">
                                          <a href="user/id/credit">我的积分：</a>
                                      </em>
                                  </div>
                              </div>
              <div class="recommand">
                                 <div class="recommand_nav">
                                     <ul class="recommand_cat">
                                         <li class="active"><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                         <li><a href="#">javacript</a></li>
                                    
                                     </ul>
                                 </div> 
                                 <div class="recommand_article_wrap">
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                     <div class="recommand_article" id="article/id">
                                         <a class="title" href="#">一起来看犀牛书</a>
                                         <p>hdhjdshj其is新疆经济的世界级的市场并不打算bbcbbcbbc比赛都会比较快睡觉啊思科交换机和基层实践活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都会活动还将获得抽奖环节的成绩获得巨大很久很久电视讲话精神得很精彩的经典设计大赛单纯缓冲地带等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等等都
                                         <span><a href="#">[查看全文]</a></span></p>
                                         <div class="article_message">
                                             <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                                             <a class="author_name" href="#" target="_blank">chanda_yang</a>
                                             <a class="article_cat" href="#">javascript</a>
                                             <span class="article_time">2天前</span>
                                             <span class="browser">2000浏览</span>
                                             <span class="like">点赞</span>
                                             <span class="comment">评论</span>
                                         </div>
                                     </div>
                                 </div>
                              </div> 
        </div>
    	 	
    	 </div>
    </div>
     <div class="footer">
         
     </div>
   
 <%- include ../footer %>