<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/showPost.css">
<%- include ../nav %>
<section class="wrap clearfix">
<%- include subPost %>

<div class="relate-post">
	<header class="relate-post-header">文章分类</header>
	<div class="relate-post-detail">
		
	</div>
</div>
</section>
<%- include ../footer %>