<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上传</title>
</head>
<body>
	<form id="ps-image" style="width:500px;height:500px;background:url('/images/tx3.jpg') no-repeat; ">
	<!-- <input type="text" value="cheng"></input> -->
	<input type="file" id="file" /> 
	</form>	
<script type="text/javascript" src="/javascripts/xhr.js"></script>
<script type="text/javascript" src="/javascripts/upload.js"></script>
 
</body>
</html>
