</body>
</html>

<div class="footer">
<div class="footer-center">
	<span class='footer-a'><a href="#">关于我们</a></span>
	<span class='footer-a'><a href="#">联系我们</a></span>
	<span class='footer-a'><a href="#">意见反馈</a></span>
</div>
</div>
</div>
</footer> 