</body>
</html>
<footer class="footer">
<div class="footer-cont clearfix">
<div class="footer-left">
	<div class="footer-logo"></div>
	<div class="footer-introduce">
		前端技术交流网站是由八人开发的学习平台。主要为用户提供海量文章博客、互联网工作信息，问答系统，帮助您解决前端问题提升前端水平。
	</div>
</div>

<div class="footer-right">
<div class="footer-right-a">
	<a href="#">关于我们</a>
	<a href="#">联系我们</a>
	<a href="#">意见反馈</a>
</div>
</div>
</div>
</footer> 