<%- include header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<%- include nav %>
<section>
		<div class="img" id="img-cont">
		<ul class="list" id="list" style="left:-1350px">
			<li><div class="icon" style="background-image: url('../images/index-bg3.png') "></div></li>
			<li><div class="icon" style="background-image: url('../images/index-bg1.png')"></div></li>
			<li><div class="icon" style="background-image: url('../images/index-bg2.png')"></div></li>
			<li><div class="icon" style="background-image: url('../images/index-bg3.png')"></div></li>
			<li><div class="icon" style="background-image: url('../images/index-bg1.png')"></div></li>
		</ul>
		<div id="buttons">
			<span index="1" class="on"></span>
			<span index="2"></span>
			<span index="3"></span>
		</div>
		<a href="javascript:;" id="prev" class="arrow">&lt;</a>
    	<a href="javascript:;" id="next" class="arrow">&gt;</a>
		</div>
		
	</section>

	<section class='idx-wrap'>
		<div class="character-wrap">
		<div class = 'icon1 icon'>
			<span class="char-icon1 iconfont"></span>
			<span class="icon-text">前端知识分享</span>
		</div >
		<div class = 'icon2 icon'>
			<span class="char-icon2 iconfont"></span>
			<span class="icon-text">互联网招聘发布</span>
		</div>
		<div class = 'icon3 icon'>
			<span class="char-icon3 iconfont"></span>
			<span class="icon-text">问答社区互动</span>
		</div>
		</div>
	</section>
	
	<section class = "intro1 intro">
		<div class='intro1-img intro-img'></div>
		<div class = 'intro1-text intro-text'>
			<span>最新招聘信息的及时更新</span>
			<span>整合互联网行业的招聘信息，收集面试者的面试经验，帮你轻松搞定BAT</span>
			<span class='buttons'><a href="/job-top5">查看招聘信息</a></span>
		</div>
	</section>
	
	<section class = "intro2 intro">
		<div class='intro2-img intro-img'></div>
		<div class = 'intro2-text intro-text'>
			<span>用户前端学习的文章分享</span>
			<span>整理前端学习知识，编写读书时的收获，记录项目中遇到问题的解决方法</span>
		</div>
	</section>

	<section class = "intro3 intro">
		<div class='intro3-img intro-img'></div>
		<div class = 'intro3-text intro-text'>
			<span>互帮互助的问答社区</span>
			<span>有问有答，解决前端学习难题，大神小白共同进步</span>
		</div>
	</section>
	


	
	<script type="text/javascript" src="/javascripts/index.js"></script>

<%- include footer %>


