<%- include header %>
<%- include nav %>
<section>
		<div class="img" id="img-cont">
		<ul class="list" id="list" style="left:-1356px">
			<li><div class="icon" style="background-color: #6590FC ">cheng</div></li>
			<li><div class="icon" style="background-color: #FCD73C">cheng</div></li>
			<li><div class="icon" style="background-color: #76E232">cheng</div></li>
			<li><div class="icon" style="background-color: #6590FC">cheng</div></li>
			<li><div class="icon" style="background-color: #FCD73C">cheng</div></li>
		</ul>
		<div id="buttons">
			<span index="1" class="on"></span>
			<span index="2"></span>
			<span index="3"></span>
		</div>
		<a href="javascript:;" id="prev" class="arrow">&lt;</a>
    	<a href="javascript:;" id="next" class="arrow">&gt;</a>
		</div>
		
	</section>

	<div class="wrap clearfix">
	<section class="show">
		
		<ul class="re-show ">
			<li class="re-li-show clearfix">
			<div class="re-li-cont ">
			<header class="re-title"><h3>[类别]这是题目</h3></header>
			<div class="re-cont">
				<div class="re-cont-detail">这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容</div>
			</div>
			</div>
			<div class="re-cont-img"></div>
			
			<footer class="re-footer clearfix">
				<div class="footer-left">
				<a class="public-name l" href="#">用户昵称</a>
				<a class="public-tab l" href="#">分类</a>
				<span class="public-time l">发表时间</span>
				<span class="public-time l">浏览量</span>
				</div>
				<div class="footer-right ">
				<div class="like r">
					<i></i>
					<em>点赞量</em>
				</div>
				<div class="comment r">
					<i></i>
					<em>评论</em>
				</div>
				</div>
			</footer>
			</li>

			<li class="re-li-show clearfix">
			<div class="re-li-cont ">
			<header class="re-title"><h3>[类别]这是题目</h3></header>
			<div class="re-cont">
				<div class="re-cont-detail">这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容</div>
			</div>
			</div>
			<div class="re-cont-img"></div>
			
			<footer class="re-footer clearfix">
				<div class="footer-left">
				<a class="public-name l" href="#">用户昵称</a>
				<a class="public-tab l" href="#">分类</a>
				<span class="public-time l">发表时间</span>
				<span class="public-time l">浏览量</span>
				</div>
				<div class="footer-right ">
				<div class="like r">
					<i></i>
					<em>点赞量</em>
				</div>
				<div class="comment r">
					<i></i>
					<em>评论</em>
				</div>
				</div>
			</footer>
			</li>

			<li class="re-li-show clearfix">
			<div class="re-li-cont ">
			<header class="re-title"><h3>[类别]这是题目</h3></header>
			<div class="re-cont">
				<div class="re-cont-detail">这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容这是推荐内容</div>
			</div>
			</div>
			<div class="re-cont-img"></div>
			
			<footer class="re-footer clearfix">
				<div class="footer-left">
				<a class="public-name l" href="#">用户昵称</a>
				<a class="public-tab l" href="#">分类</a>
				<span class="public-time l">发表时间</span>
				<span class="public-time l">浏览量</span>
				</div>
				<div class="footer-right ">
				<div class="like r">
					<i></i>
					<em>点赞量</em>
				</div>
				<div class="comment r">
					<i></i>
					<em>评论</em>
				</div>
				</div>
			</footer>
			</li>
		</ul>

	</section>

	<aside>
	        <p>
	        	<a href="#" target="_blink">
	        	<img src="src/image/aside_big01.jpg" alt="">
	        	</a>
	        </p>
	        <div id="news">
		<h3>
		     <a href="#">业界热点资讯</a>
		     <span>
		     	<a href="#">更多>></a>
		     </span>
		</h3>
		<div id="content">
		    <div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small01.jpg" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
		<div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small02.jpg" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
		<div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small03.jpg" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
		<div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small04.png" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
		<div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small05.jpg" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
		<div class="wraper clearfix">
		    	<div class="left">
		    		<a href="#" target="_blank"><img src="src/image/aside_small06.jpg" width="60" height="60" alt="">
		    		</a>
		    	</div>
		    	<div class="right">
		    	       <p>谷歌开放语音识别API 发布机器学习云平台</p>
		    	       <span>1小时前</span>
		    	</div>
		    </div>
	        </div>
	    </div>
	        <p>
	        	<a href="#" target="_blink">
	        	<img src="src/image/aside_big02.jpg" alt="">
	        	</a>
	        </p>
	 <div id="table">
	 	<ul class="nav clearfix">
	 		<li class="active">面向对象相亲</li>
	 		<li>最新加入</li>
	 		<li>城市</li>
	 	</ul>
	 	<div class="tab1" style="display: block;">
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
		<p>心灵美丽，世界就美丽</p>
	 	</div>
	 	<div class="tab2">
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
		<p> 要心照不宣的笑，要相见恨晚的叹息</p>
	 	</div>
	 	<div class="tab3">
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
		<p>北京</p>
	 	</div>
	 </div>
	      <p>
	        	<a href="#" target="_blink">
	        	<img src="src/image/aside_big03.jpg" alt="">
	        	</a>
	        </p>
	</aside>
	</div>
	<script type="text/javascript" src="/javascripts/index.js"></script>

<%- include footer %>


