<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/tab/tabcard.css">
<script type="text/javascript" src="/javascripts/commonFunc.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/xhr.js"></script>
<script type="text/javascript" src="/javascripts/seriPost.js"></script>
</head>
<body>
	<header class="header">
		<div class="logo">新世界</div>
		
		<ul class="index clearfix">
		<% if (user) { %>
			<li><%= user.name %></li>
			<li><a href="/logout" id="logout">退出</a></li>
			
			
		<% } else { %>
		
			<li><a href="javascript:void(0)" id="login">登录</a></li>
			<li><a href="javascript:void(0)" id="reg">注册</a></li>
			
		<% } %>
			<li><a href="/job-top5">工作</a></li>
			<li><a href='/post'>文章</a></li>
			<li><a href="/question">问答</a></li>
			<li><a href="/">首页</a></li>
			<li class="search"><input type="text" name="search" class="search-text" placeholder="请输入您要搜索的内容"></input>
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
			
		</ul>
	</header>



<div class="regLogin">
	<div id="mask" class="maskhide"></div>
	<div id="regtab" class="hide">
		<!-- tabHead -->
		<ul class="tab-nav">
			<li><a href="javascript:void(0)" id="aLogin">登录</a></li>
			<li><a href="javascript:void(0)" id="aReg">注册</a></li>
			<button class="close" id="close"></button>
		</ul>
	 
		<!-- tabPanel-->
		<ul class="tab-bd">
			<li>
	            <form id="loginForm" >
	            	<div>
	            	   <input type="text" name="name" id="name" placeholder="请输入用户名">
	            	   <p class="tip hide"></p>
	            	   
	            	</div>
	            	<div>
	            	   <input type="password" name="password" id="password" placeholder="请输入密码">
	            	   <p class="tip hide"></p>
	            	  
	            	</div>
	            	<div>
	            		<input type="text" id="validate" placeholder="请输入验证码">
	            		<canvas id="valCanvas" height="35px" width="100px" ></canvas>
	            		<a href="javascript:void(0)" id="refresh"></a>
	            		<p class="tip hide" id="validatetip"></p>
	            	</div>
	            	<div>
	            		<button type="submit" id="loginsub">立即登录</button>
	            	</div>
	            </form>
	        </li>
			<li>
	            <form id="regForm" class="regshow">
					<div>
					   <input type="text" name="name" id="name" placeholder="请输入用户名">
					   <p class="tip hide">必填，长度为4-15个字符</p>
					</div>
					<div>
					   <input type="password" name="password" id="password" placeholder="请输入密码">
					   <p class="tip hide">6~16位数字或字母</p>
					</div>
					<div>
					   <input type="password" name="repassword" id="repassword" placeholder="请重复输入密码">
					   <p class="tip hide">重复输入密码</p>
					</div>
					<div>
					   <input type="email" name="email" id="email" placeholder="请输入邮箱地址">
					   <p class="tip hide">输入不能为空</p>
					</div>
					<div>
						<button  type="submit" id="regsub">立即注册</button>
					</div>
				</form>
				<div id="regsuccess" class="hide">
		    		<p id="p1">注册成功!</p>
		    		<span id="countdown">5</span>
		    		<a href="/">去完善资料</a>
		    	</div>
	        </li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="/javascripts/nav.js"></script>
<script type="text/javascript" src="/tab/tabcard.js"></script>

