<link rel="stylesheet" type="text/css" href="/dist/css/nav.min.css">
<link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
<link rel="stylesheet" type="text/css" href="/tab/tabcard.css">

</head>
<body style="margin-top: 50px">
	<header class="header">
		<div class="logo">新世界</div>
		
		<ul class="index clearfix">
		<% if (user) { %>



		<% if (user.smallimg) { %>
			<li class = 'li-img'><a href ="/user"><img src="<%= user.smallimg %>" class = 'user-small-img'></a></li>
		<% } else { %>
			<li><a href ="/user"><%= user.name %></a></li>
		<% } %>

			<li><a href="/logout" id="logout">退出</a></li>
			
			
		<% } else { %>
		
			<li><a href="/reg" id="login">登录</a></li>
			<li><a href="/reg" id="reg">注册</a></li>
			
		<% } %>
			<li><a href="/job-top5" id='nav-work'>工作</a></li>
			<li><a href='/post' id='nav-post'>文章</a></li>
			<li><a href="/question" id='nav-qa'>问答</a></li>
			<li><a href="/">首页</a></li>
			<li class="search"><input type="text" name="search" id="searchAll" class="search-text" placeholder="请输入您要搜索的内容"/><span class = 'iconfont' id="searchAllAction">&#xe752</span>
		</li>
			
		</ul>
	</header>




<script type="text/javascript" src="/dist/js/common.min.js"></script>
<script type="text/javascript" src="/tab/tabcard.js"></script>
<script type="text/javascript" src="/dist/js/nav.min.js"></script>




