<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<%- include ../nav %>
    <div class="loginWrap">
    <div class="loginTitle">
    	<h3>欢迎回来</h3>
    	<span><a href="./reg.ejs">还没帐号？立即注册</a></span>
    </div>
    <div class="loginInfoWrap">
    <form method="post">
    	<div class="loginInfo">
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="Username">用户名：</label>
    				</th>
    				<td>
    					<input type="text" required="" maxlength="15" size="25" autocomplete="off" value="" name="Username">
    				</td>
    				
    			</tr>
    		</tbody>
    	</table>
    	</div>	
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="password">密码：</label>
    				</th>
    				<td> 
    					<input type="password" required=""  tabindex="1" size="25" name="password">
    				</td>
    				
    			</tr>
    		</tbody>
    	</table>
    	</div>	
    	</div>
    	<div class="loginBtn">
    		<input type="submit" name="btn">
    	</div>
    </form>
    </div>
    </div>
    <script src="src/js/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <%- include ../footer %>
