<%- include ../header %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
<%- include ../nav %>
    <div class="regWrap">
    <div class="regTitle">
    	<h3>立即注册</h3>
    	<span><a href="./login.ejs">已有帐号？现在登录</a></span>
    </div>
    <div class="formWrap">
    <div class="hidden"></div>
    <form method="post">
    	<div class="regInfo">
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="Username">用户名：</label>
    				</th>
    				<td>
    					<input type="text" required="" maxlength="15" size="25" autocomplete="off" value="" name="name">
    				</td>
    				<td class="tip">
    					<i class="p_tip" style="display:none">用户名由3到15个字符组成</i>
    					<kbd id="chk_Pr22eU" class="p_chk">用户名不得小于 3 个字符</kbd>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	</div>	 
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="Username">密码：</label>
    				</th>
    				<td> 
    					<input type="password" required=""  tabindex="1" size="25" name="password">
    				</td>
    				<td class="tip">
    					<i class="p_tip" style="display:none">请输入密码</i>
    					<kbd id="chk_Pr22eU" class="p_chk">请输入密码</kbd>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	</div>	
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="Username">确认密码：</label>
    				</th>
    				<td>
    					<input type="password" required=""  tabindex="1" size="25" name="repassword">
    				</td>
    				<td class="tip">
    					<i class="p_tip" style="display:none">请再次输入密码</i>
    					<kbd id="chk_Pr22eU" class="p_chk">请再次输入密码</kbd>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	</div>	
    	<div class="rfm">
    	<table>
    		<tbody>
    			<tr>
    				<th>
    				<span class="rq">*</span>
    				<label for="Username">Email：</label>
    				</th>
    				<td>
    					<input type="text" required=""  tabindex="1"  size="25" autocomplete="off" value="" name="email">
    				</td>
    				<td class="tip">
    					<i class="p_tip" style="display:none">请输入正确的邮箱地址</i>
    					<kbd id="chk_Pr22eU" class="p_chk">请输入邮箱地址</kbd>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	</div>	
    	</div>
    	<div class="regBtn">
    		<input type="submit" name="btn">
    	</div>
    </form>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/reg.js"></script>
<%- include ../footer %>
