<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/tab/tabcard.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/userSet.css">
<%- include ../nav %> 

<div id="tab">
<!-- tabHead -->
<ul class="tab-nav">
	<li><a href="javascript:void(0)">个人资料</a></li>
	<li><a href="javascript:void(0)">头像设置</a></li>
	<li><a href="javascript:void(0)">邮箱验证</a></li>
	<li><a href="javascript:void(0)">修改密码</a></li>
	<li><a href="javascript:void(0)">绑定帐号</a></li>
</ul>

<!-- tabPanel-->
<ul class="tab-bd">
  <!-- 个人资料 -->
	<li class="tabshow">
    <div class="info-setting-wrap">
      <form method="post" action="post" class="info-form">
          <div class="info-wrap">
            <label class="label-name" for="nick">昵称</label>
            <div class="info-group">
              <input type="text" name="nick" id="info-inp" placeholder="请输入昵称"/>
              <p class="info-tip-wrap"></p>
            </div>
          </div>
          <div class="info-wrap">
            <label class="label-name" for="job">职位</label>
            <div class="info-group">
              <select name="position" class="info-select">
                      <option>请选择职位</option>
                      <option>学生</option>
                      <option>web前端工程师</option>
                      <option>移动开发工程师</option>
                      <option>软件测试工程师</option>
                      <option>产品经理</option>
                      <option>其它</option>
              </select>
              <p class="info-tip-wrap"></p>
            </div>
          </div>
          <div class="info-wrap">
            <label class="label-name" for="city">城市</label>
            <div class="info-group">
              <select id="province-select" class="choose" hidefocus="true">
                <option>选择省份</option>
                <option>北京</option>
                <option>上海</option>
                <option>天津</option>
                <option>重庆</option>
                <option>黑龙江省</option>
                <option>吉林省</option>
                <option>辽宁省</option>
								<option>河南省</option>
								<option>河北省</option>
								<option>湖北省</option>
								<option>湖南省</option>
								<option>山东省</option>
								<option>山西省</option>
								<option>安徽省</option>
								<option>陕西省</option>
								<option>江苏省</option>
								<option>浙江省</option>
								<option>广东省</option>
								<option>海南省</option>
								<option>四川省</option>
								<option>贵州省</option>
								<option>云南省</option>
								<option>甘肃省</option>
								<option>青海省</option>
								<option>内蒙古</option>
								<option>广西</option>
								<option>西藏</option>
								<option>宁夏</option>
								<option>新疆</option>

              </select>
              <select id="city-select" class="choose" hidefocus="true">
                <option>选择城市</option>
              </select>
              <select id="area-select" class="choose" hidefocus="true">
                <option>选择区县</option>
              </select>
              <p class="info-tip-wrap"></p>
            </div>
          </div>
          <div class="info-wrap">
            <label class="label-name" for="sex">性别</label>
            <div class="info-group radio-group">
              <label>
                <input type="radio"  hidefocus="true" value="0" name="sex">
                保密
              </label>
              <label>
                <input type="radio"  hidefocus="true" value="0" name="sex">
                男
              </label>
              <label>
                <input type="radio"  hidefocus="true" value="0" name="sex">
                女
              </label>
              <p class="info-tip-wrap"></p>
            </div>
          </div>
          <div class="info-wrap">
            <label class="label-name" for="aboutme">个性签名</label>
            <div class="info-group">
              <textarea name="aboutme" id="aboutme" cols="30" rows="5" class="textarea"></textarea>
              <p class="info-tip-wrap"></p>
            </div>
          </div>
          <div class="info-wrap">
            <label class="label-name" for></label>
            <div class="info-group">
              <span id="profile-submit" hidefocus="true" aria-role="button" class=" btn-block profile-btn">保存</span>
            </div>
          </div>
      </form>
    </div>
  </li>
  <!-- 头像设置 -->
 
	<li class="tabhide"> 
    <div class="head-image">
      <div class="avator-image">
         <img width="220" height="220" id="user-img-show"> 
      </div>
      <div>
        <input class="js-avator-try avator-try" type="button" value="换一换" hidefocus="true">
      </div>
      <div class="button-group">
        <div class="avator-btn-snswrap">
          <span class="l-sns-btn l-sns-qq" data-sns="qq">
          <i class="icon-qq"></i>
          从 QQ 帐号同步头像
          </span>
        </div>
        <div class="avator-btn-snswrap">
          <span class="l-sns-btn l-sns-weibo" data-sns="weibo">
          <i class="icon-weibo"></i>
          从新浪微博同步头像
          </span>
        </div>
         <div class="input-file">

        <input type="file" name="userImg" value="上传图片" id="user-img-upload" class="file-button"></input>

        <label class="file-button-img">上传头像</label> 

        </div> 
        <!-- <div class="avator-btn-wrap">
        
          <form enctype="multipart/form-data" method="post" action="postpic" target="uploadtarget">
            <a class="avator-btn-fake" hidefocus="true" href="javascript:void(0)">上传头像</a>
            <input id="upload" type="file" accept="image/*" name="fileField" title="上传头像">
            <input type="hidden" value="1" name="type">
          </form>
          <iframe id="uploadtarget" frameborder="0" style="display:none;" name="uploadtarget" src="about:blank">
          </iframe>
        </div> -->
      </div>
    </div>
  </li>
 <!--  邮箱验证 -->
	<li class="tabhide">
    dsfdsadsfdasf
  </li>
  <!-- 修改密码 -->
  <li class="tabhide">
    <form method="post" id="resetpwform">
      <div class="reset-wrap">
        <label class="label-name" for="oldpw">当前密码</label>
        <div class="reset-group">
          <input type="password" name="oldpw" class="reset-inp reset-inp-pw" placeholder="请输入当前密码"/>
          <p class="reset-tip-wrap"></p>
        </div>
      </div>
      <div class="reset-wrap">
        <label class="label-name" for="newpw">新密码</label>
        <div class="reset-group">
          <input type="password" name="newpw" class="reset-inp reset-inp-pw" placeholder="请输入新密码"/>
          <p class="reset-tip-wrap"></p>
        </div>
      </div>
      <div class="reset-wrap">
        <label class="label-name" for="confrim">确认密码</label>
        <div class="reset-group">
          <input type="password" name="confrim" id="confrim" class="reset-inp reset-inp-pw" placeholder="请输入密码"/>
          <p class="reset-tip-wrap"></p>
        </div>
      </div>
      <div class="reset-wrap">
        <label class="label-name" for></label>
        <div class="reset-group">
          <span id="resetpw-btn-save" hidefocus="true" aria-role="button" class=" btn-block">保存</span>
        </div>
      </div>
    </form>
  </li>
  <!-- 绑定账号 -->
  <li class="tabhide">
    <div class="setting-binds">
      <p>绑定第三方帐号，可以直接登录，还可以将内容同步到以下平台，与更多好友分享。</p>
      <div class="setting-binds-inner clearfix">
        <div class="setting-binds-weibo">
          <i class="icon-weibo"></i>
          <p>未绑定账号</p>
          <a href="" aria-role="button" hidefocus="true" class="setting-btn btn-weibo">立即绑定</a>
        </div>
        <div class="setting-binds-weixin">
          <i class="icon-weixin"></i>
          <p>未绑定账号</p>
          <a href="" aria-role="button" hidefocus="true" class="setting-btn btn-weixin">立即绑定</a>
        </div>
        <div class="setting-binds-qq">
          <i class="icon-qq"></i>
          <p>未绑定账号</p>
          <a href="" aria-role="button" hidefocus="true" class="setting-btn btn-qq">立即绑定</a>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>

 <%- include ../footer %> 
<script type="text/javascript" src="tab/tabcard.js"></script>
<script type="text/javascript">

   tabcard = new TabCard("tab","defaultStyle","clickStyle");
   tabcard.click();
</script>
<script type="text/javascript" src="/javascripts/imgcut.js"></script>
<script type="text/javascript" src="/javascripts/userSet.js"></script>

<%- include ../end %>