* {
  padding: 0;
  margin: 0;
  font-family: "汉仪旗黑X3-65W";
  font-size: 14px; 
  }
  body{
    overflow:scroll;
  }

body {
  min-width: 915px; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }




.outer{
	position:relative;
	width:100%;
	border:1px solid blue;
	margin-top:50px;
}
.inner{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:50%;
	height:50%;
	margin:auto;
}