* {
  padding: 0;
  margin: 0;
  font-family: "汉仪旗黑X3-65W";
  font-size: 14px;
  }
  body
  {
    overflow:scroll;
  }

// .clearfix:after {
//   content: "";
//   clear: both;
//   display: block;
//   visibility: hidden;
//   height: 0; }

.wrap
{

}