      *{
      	 margin:0;
      	 padding:0;
      }
      html ,body{
      	background-color: #f1f4f6;
      }
       .container{
       	 width:61.563em;
       	 margin:0 auto;
       }
       .left,.right{
       	 background-color:white;
       }
       .left{
        	 width:43.75em;
            height:61.563em;
            display:inline-block;
           position:relative;
          top:-260px;
       
       }
       .right{
           width:16.25em;
           height:61.563em;
           margin-left:1.563em;
           display: inline-block;
           background-color: #f1f4f6;
       }
       /*只要line-height足够高就可以了*/
       .l-1{
       	  line-height:4.375em;
       	  border-bottom: 1px solid #ccc;

       }
       .l-1:after{
       	  display:inline-block;
       	  height:100%;
       	  vertical-align: middle;
       	  overflow:hidden;
       }
      .l-2{
      	height:150px;
      	margin-top: 10px;
      	border-bottom: 1px solid #ccc;
      }
      .l-3{
      	height:610px;
      	margin-top: 10px;
      	border-bottom: 1px solid #ccc;
      }
      .l-4{
        height:130px;
      	margin-top: 10px;

      }
      .r-1{
      	 height:350px;
      }
      .r-1-1{
        height:200px;
      }
      .r-1-2{
      	height:150px;
      }
      .r-2{
      	 height:60px;
      	 line-height: 60px;
      }
      .r-3{
      	height:275px;
    
      }
      .left div{
      	display:block;
      }
      .job_name{
      	 font-size: 25px;
         display: inline-block;
         vertical-align: middle;
         margin-left:3%;
      }
    .sc {
    right: 50px;
    background-image: url('../images/shoucang.png');
}
.sj_ico {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 25px;
    background-size: cover;
    cursor: pointer;
}

.jb {
    right: 20px;
    background-image: url('../images/jubao.png');
}

.update_time {
    font-size: 14px;
    color: #999999;
    display:inline-block;
    vertical-align: middle;
    margin-left: 50%;
}
.jb_det_left_mid {
     padding:30px 10px;
}
.city {
    background: url("../images/xiangqing.png") no-repeat;
    background-position: 0 -21px;
}
.education {
    width: 16px;
    background: url("../images/xiangqing.png") no-repeat;
    background-position: 0 -42px;
}
.days {
    width: 16px;
    background: url("../images/xiangqing.png") no-repeat;
    background-position: 0 -63px;
}
.month {
    width: 16px;
    background: url("../images/xiangqing.png") no-repeat;
    background-position: 0 -84px;
}
.l-2 p {
     font-size: 16px;
    color: #333;
   padding:30px 20px;
}
 .daymoney {
    width: 16px;
    background: url("../images/xiangqing.png") no-repeat;
    background-position: 0 0;
    width:16px;
    margin-left:7px;
}
/*把每一个span的设置了背景图片以后，我们还需要做一件事，那就是设置每一个span的padding-left值，这个值是用于存储span的内容的*/
.jb_det_left_mid span{
   padding:0 0 0 22px;
}
.jb-description {
    font-size: 16px;
    color: #333;
    text-indent:10px;
    font-weight: bold;
    padding:20px 0 20px 0;
}
.work-time{
   font-size: 14px;
   font-weight:bold;
   text-indent:10px;
   margin-top: 20px;
}
.time1{
	text-indent:5px;
	font-size: 14px;
	text-indent:15px;
	margin-bottom: 20px;
	line-height: 30px;
}
.work-location{
  font-size: 14px;
   font-weight:bold;
   text-indent:15px;
}
.w-l{
  font-size: 14px;
  margin-bottom:20px;
  text-indent: 15px;
  line-height:30px;
}
.responsibility{
	 font-size: 14px;
   font-weight:bold;
    text-indent:15px;
    margin-top:20px;
}
.dec_content p{
	padding:10px 0;
	text-indent: 15px;
}
.work-get{
    font-size: 14px;
   font-weight:bold;
   text-indent: 10px;
   margin-top: 20px;
}
.get{
	font-size:14px;
	text-indent:15px;
	padding:10px 0;
   line-height:30px;
}
.deadline{
  font-size: 14px;
   font-weight:bold;
   text-indent: 10px;
   margin-top: 30px;
}

.date{
	font-size: 14px;
	text-indent: 15px;
	line-height: 30px;
}
.jb_det_left_bottom{
	text-align: center;
	position:relative;
}
.jb_det_left_bottom a{
   width:160px;
   line-height: 50px; /*为了让文字居中，这时候把height用line-height代替就可以了，而不需要同时设置line-height和height相同*/
   border-radius: 10px;
   background-color:#02a0e9;;
   display:inline-block;
   font-weight: bold;
   position:absolute;
   left:50%;
   top:50%;
   margin-left: -80px;
   margin-top: -25px;
   transition: background-color 1s;
   -moz-transition: width 1s; /* Firefox 4 */
	-webkit-transition: width 1s; /* Safari 和 Chrome */
	-o-transition: width 1s; /* Opera */
}
.jb_det_left_bottom a:hover{
  background-color: #0485B2;
}
.brand-logo{
   display: block;
   margin:20px auto;
}
.nu{
   background:url('../images/people.png') no-repeat;
   position: absolute;
   top:200px;
   padding-left:20px;
   border:1px solid red;
}
/*如果除了需要有小图标以外还需要居中对齐的话那么就用background-position把*/
.people{
	background-image:url('../images/people.png');
	background-repeat: no-repeat;
	background-position: 80px 2px;
}
.work-life{
	background-image:url('../images/pin.png');
	background-repeat: no-repeat;
	background-position: 70px 2px;
}

.w-s{
	background-image:url('../images/website.png');
	background-repeat: no-repeat;
	background-position: 55px 3px;
}
.lc{
	position:absolute;display:inline-block;
	/*background-position时候，第一个参数为左右，第二个为上下*/
	text-align:left;border-bottom:1px solid #ccc;padding-bottom:20px;background:url('../images/gps.png') no-repeat 0px 50px;
	padding-left:12px;
	padding-right:10px;
	padding-top: 50px;
}
.bds_tsina{
}
.bds_weixin{
}