.index li a{
text-decoration: none;
color:#000;
}
.header {
position: fixed;
top:0px;
width:100%;
color: #fff;
height: 50px;
background-color: #21e7c9;
z-index: 100 }
.header .logo {
width: 100px;
font-size: 30px;
margin-left: 50px;
line-height: 50px;
float: left; }
.header .index {
list-style-type: none;
margin-right: 50px; }
.header .index li {
float: right;
padding: 10px;
line-height: 20px;
cursor: pointer;
vertical-align: middle; }
.header .index li a{
display: inline-block;
font-size: 16px;
line-height: 20px;
cursor: pointer;
}
.header .index li a .user-small-img{
  border-radius:15px;
}

.header .index li:hover {
border-bottom: 2px solid #fff; }
.header .index .li-img:hover {
border-bottom: none }
.header .index li.search{
  padding-bottom: 5px;
}
.header .index li.search:hover {
border-bottom: 0px; }
.header .index li.search .search-text {
  margin-right: 5px;
background-color: #21e7c9;
border: 1px solid #fff;
width: 200px;
height:30px;
outline: none;
font-size: 10px; 
}


@font-face {font-family: "iconfont";
  src: url('/icon/part-icon/iconfont.eot?t=1462859034'); /* IE9*/
  src: url('/icon/part-icon/iconfont.eot?t=1462859034#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/icon/part-icon/iconfont.woff?t=1462859034') format('woff'), /* chrome, firefox */
  url('/icon/part-icon/iconfont.ttf?t=1462859034') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/icon/part-icon/iconfont.svg?t=1462859034#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;}







  #regtab{
    position:fixed;
    width:360px;
    height:420px;
    top:50%;
    left:50%;
    margin-left: -180px;
    margin-top: -210px;
    opacity: 1;
    background:white scroll  0 0;
  }
  .hide{
    display:none;
  }
  .show{
    display:block;
    z-index:10001;
  }
  .maskhide{
    display: none;
  }
  .maskshow{
    display:block;
    z-index:1000;
  }
  #mask{
    position:fixed;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background-color:gray;
      opacity: 0.5;
  }
  .tab-nav .close{
    background:url(../images/loginclose.png) no-repeat 0 0;
    width:17px;
    height:17px;
    cursor:pointer;
    position:absolute;
    top:17px;
    right:17px;
    outline: none;
    border:none;
  }
  .tab-bd .navform{
    width:280px;
    margin:0 auto;
  }
  .tab-bd .navform div{
    width:100%;
    height:50px;
    margin:30px 0;
   }
  
 .rlf-group .ipt{
      width:100%;
      height:45px;
      text-indent: 10px;
      outline: none;
  }
  .rlf-autoin{
    float:left;
    
  }
  .rlf-forget{
    float:right;
    text-decoration:none;
    color:black;
  }
  #rl-pw{
    margin:-10px 0;
    height:30px;
  }
  .tab-bd form div button{
    background: #21e7c9 scroll 0 0;
    width:280px;
    height:40px;
    color:white;
    outline: none;
    border:none;
    cursor:pointer;
  }
  .ipt-verify{
    width:160px;
    height:45px;
  }
  .verify-img-wrap{
    width:100px;
    height:45px;
  }
  .icon-refresh{
    margin-left:10px;
    height:45px;
    line-height: 45px;
  }





/*注册成功跳转之前的页面*/
  #regsuccess{
  text-align: center;
  }
  #regsuccess #p1{
  width: 30px; 
  font-size: 30px; 
  word-wrap: break-word; 
  letter-spacing: 10px;
  display:inline-block;
  color:#21e7c9;
  }
  #regsuccess span{
  font-size: 50px;
  color:red;
  display: block;
  }
  #regsuccess a{display: block;cursor:pointer;color:red;}

.header {
  color: #fff;
  height: 50px;
  background-color: #21e7c9; }
  .header .logo {
    width: 100px;
    font-size: 30px;
    margin-left: 50px;
    line-height: 50px;
    float: left; }
  .header .index {
    list-style-type: none;
    margin-right: 50px; }
    .header .index li {
      
      float: right;
      padding: 14px 10px;
      
      line-height: 20px;
      cursor: pointer;
      vertical-align: middle; }
      .header .index li a{
        display: inline-block;
      font-size: 16px;
      color:#fff;
      line-height: 20px;
      cursor: pointer;
      }
      .header .index li:hover {
        border-bottom: 2px solid #fff; }
      .header .index li.search{
        padding: 8px;
      }  
      .header .index li.search:hover {
        border-bottom: 0px; }
      .header .index li.search .search-text {
        background-color: #21e7c9;
        border: 1px solid #fff;
        width: 200px;
        padding-left: 10px;
        font-size: 10px; }
        .header .index .li-img{
          padding: 9px;
        }


.wrap{
    
    width:1100px;
    margin:auto;
}

/*-- footer样式-- */
.footer{
  border-top:1px solid #D5D5D5;
  padding-top:10px;
  margin-top:10px;
 /*  background-color: #2F2E2E;
 opacity: .5; */

}

.footer-center{
  text-align:center;
}
.footer-a{
  display:inline-block;
  padding:10px;

}
.footer-a a{
  text-decoration:none;
  color:#ccc;
}
.footer-a a:hover{
  text-decoration:underline;
}