/*
* @Author: Administrator
* @Date:   2016-04-07 19:04:33
* @Last Modified by:   Administrator
* @Last Modified time: 2016-04-16 11:36:12
*/
.back{width:100%;background: rgb(248,248,248) scroll 0 0;}
.wrap{width:100%;overflow: hidden;margin:0 auto;}
.left{width:25%;
	float:left;
	}
.left .newNote{
	text-align: left;               /* 让新闻内容靠左 */
}
ul {list-style: none;}/*  去掉ul标签默认的点样式  */
a {color: #333;text-decoration: none;  }   /* 超链接样式 */
a:hover {color: #ff0000;}	
#rollTitle {
	height: 70px;
	overflow: hidden;  /* 这个一定要加上，内容超出的部分要隐藏，免得撑高头部 */
	font-size: 26px;
	line-height: 62px;
	padding-left: 30px;
	background: #dd7e6b scroll 0 0;
	border: 1px solid #f05e6f;
	color: #fff;
	position: relative;
}
#rollTitle a {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: inline;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
}
/*  中间样式 */
#rollBox {
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;    /*  这个一定要加，超出的内容部分要隐藏，免得撑高中间部分 */
	height:280px;
}
.left ul li {
	height: 32px;
}
.left ul li a {
	float: left;
	display: block;
	overflow: hidden;
	text-indent: 15px;
	height: 32px;
}
.left ul li span {
	float: right;
	color: #999;
	margin-right:10px;
}

/*右边的样式*/
.right{width:75%;float:left;}
.right .editArea #titleInput{
	display:block;
	width:100%;
	height:30px;
}
.right .editArea .noteTitle label{
	height:30px;
	line-height: 30px;
	font-size:16px;
	margin-left: 10px;
}
.right .editArea .noteContent label{
	height:30px;
	line-height: 30px;
	font-size:16px;
	margin-left: 10px;
}
.right .editArea  .content{
	width:100%;
	text-align: center;
	    height:514px;
}
.right .editArea section {
    width: 100%;
    margin: auto;
    text-align: left;
}
/* 富文本编辑器样式*/
#richEditor {
    height: 520px;
}
.wangeditor{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/*下方的分类*/
 .note .personal table tr td{
	width:180px;
	height:40px;
 	line-height: 40px;
 } 