*{
	margin: 0;
	padding: 0;
}
.main
{
	width: 700px;
	margin-left: 150px;
	margin-top: 30px;
	float: left;
}
.main span
{
	display: inline-block;
}
.main .quesTitle
{
	padding: 20px 0;
    text-indent: 5px;
}
.main .quesDetail
{
	margin-bottom: 20px;
	text-indent: 5px;
}
.main .info
{
	text-indent:5px;
}
.main .info a
{
	color:#000;
}
.main form
{
	overflow: hidden;
	margin-bottom: 20px;
}
.main form textarea
{
	border: 2px solid #eee;
	width: 666px;
	height: 100px;
	padding: 15px;
	outline: none;
	font-size: 16px;
	line-height: 24px;
	border-radius: 8px;
}
.main form #answer
{
	outline: none;
	border: none;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	background-color: red;
	cursor: pointer;
	color: white;
	float: right;
	margin-top: 10px;

}
.comment:first-child
{
	border-top: 1px solid grey;
}
.comment
{
  border-bottom: 1px solid grey;
  overflow: hidden;
  padding:20px 0;
  position: relative;
}
.comment .commHead
{
  width: 40px;
  margin-right:15px;
  float: left;
}
.comment .commHead img
{
	width: 100%;
	height: 100%;
}
.comment .commHead span
{
  display: inline-block;
  width: 40px;
  text-align: center;
}
.comment .commHead span a
{
	color: #000;
}
.comment .commCont
{
	margin-left: 50px;
	
}
.comment .commCont p
{
	margin: 10px 0;
   text-indent: 5px;
   font-size: 18px;
}
.comment .commCont span
{
	display: inline-block;
	position: absolute;
	text-indent: 8px;
	font-size: 8px;
	right: 0;
	bottom: 5px;
	color:rgba(0,0,0,0.75);
}
.comment .commAction
{
	margin-left: 55px;
	position: absolute;
	bottom: 5px;
	
}
.comment .commAction span a
{
	color: #000;
	font-size: 14px;
	padding: 0 5px;
}

.prepage a
{
	float: left;
	text-decoration:none;
	color:#000;
	padding: 5px 10px;
	font-weight:bold;
}
.nextpage a
{
	float: left;
	text-decoration:none;
	color:#000;
	padding: 5px 10px;
	font-weight:bold;
}
.currentpage a
{
	float: left;
	text-decoration:none;
	background-color:#f00;
	color:#fff;
	padding: 5px 10px;
	font-weight:bold;
}
.prepage a:hover,.nextpage a:hover
{
	text-decoration:none;
	background-color:#f00;
	color:#f9f9f9;
	-webkit-transition:color .2s linear;
}
.notice
{
	float: right;
	width: 280px;
	margin-top: 30px;
	margin-right: 100px;
}
.notice h1
{
	font-size: 18px;
	font-family: "微软雅黑";
	text-indent: 60px;
	height: 60px;
	line-height: 60px;
	background: url(../images/attention.png) no-repeat left center;
}
.notice dl
{
	font-size: 14px;
	font-family: "微软雅黑";
}
.notice dl dt,dd
{
	padding: 5px 0;
	line-height: 24px;
}
.notice dl dt
{
	font-size: 16px;
	font-weight: bold;
}