* {
  padding: 0;
  margin: 0;
  font-family: "microsoft yahei";
  font-size: 14px; 
}

body {
  min-width: 915px; 
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; 
}


.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
    padding-left:10px;  

}

.search::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
    padding-left:10px;
}

.search input:-ms-input-placeholder,
.search textarea:-ms-input-placeholder {
    color:#fff;
    padding-left:10px;
}

.search input::-webkit-input-placeholder,
.search textarea::-webkit-input-placeholder {
    color:#fff;
    padding-left:10px;
}
/*!
 * 
 * header
 * 
 */

/*!
 * 
 * container
 * 
 */
.container{
  color:#3D3D3D;
  width:1100px;
  position:relative;
  top:20px;
  left:50%;
  margin-left:-550px;
  /* border:1px solid #D3D3D3; */
}
.container a{
  text-decoration:none;
  display:inline-block;
  padding:10px 0 5px 100px;
}
.container hr{
  width:698px;
  border-color:#F6F6F6;
  opacity:0.6;
}
.container a:hover{
  cursor:pointer;
}
.tabs a:nth-child(1){
  padding-left:0;
}
.tabs{
  text-align:center;
}
.main_left{
  positon:absolute;
  left:0;
  top:0;
  width:700px;
  /* border:1px solid red; */
}
.main_right{
  position:absolute;
  right:0;
  top:0;
  width:350px;
  /* border:1px solid green; */
}
.main_right hr{
  width:348px;
}
.note{
  padding:10px;
}
.note .author img{
  width:40px;
  height:40px;
}
.note .author span:nth-child(1){
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:20px;
  overflow:hidden;
}
.title{
  color:#1F1F1F;
  font-size:25px;
  padding:20px 10px 20px 10px;
}
.content_nt,.read{
  padding:10px 20px 10px 10px;
}
.recommend{
  /* border:1px solid blue; */
  padding:10px 0 10px 10px;
}
.tagClound{
  /* border:1px solid purple; */
  width:100%;
  padding:10px 0 10px 10px;
}
/*!
 * 
 * container
 * 
 */
