@font-face {font-family: "iconfont";
  src: url('/icon/part-icon/iconfont.eot?t=1462859034'); /* IE9*/
  src: url('/icon/part-icon/iconfont.eot?t=1462859034#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/icon/part-icon/iconfont.woff?t=1462859034') format('woff'), /* chrome, firefox */
  url('/icon/part-icon/iconfont.ttf?t=1462859034') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/icon/part-icon/iconfont.svg?t=1462859034#iconfont') format('svg'); /* iOS 4.1- */
}



body {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
.user-header{
	height:250px;
	min-width: 1340px;
	width:100%;
	background-image:url('/images/user-header.jpg');
	background-position:center;
	position: relative;
}

.user-info{
	margin-left:20px;
	margin-top:50px;
	float:left;
	height:200px;
	width:700px;
	/*border-radius: 100px;*/
	/* background-color: #6FD175; */

}

.user-info .user-img{
	display: inline-block;
	border-radius: 100px;
	/* overflow:hidden; */
	background-color: #C1D843;
	position: relative;
	width:200px;
	height:200px;
}
.user-info .user-img img{
	border-radius:100px;
}
.user-info .user-img .user-set{
	position: absolute;
	
	width:20px;
	height:20px;

}
.user-img .iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color:#7D7D7D;

}
.user-set:before { content: "\e74c"; }
.user-info .user-detail{
	display: inline-block;
	margin-left:20px;
	height:200px;
	margin-top: 20px;
	vertical-align: top;
	
}
.user-info .user-detail .user-name{
	font-size:3rem;
	font-weight:600;
	line-height:50px;
	text-align: left;
	color:#fff;
	
}

.user-info .user-detail .user-desc,.user-info .user-detail .about-info{
	line-height: 24px;
	color:#fff;
	word-break: break-all;/*在恰当的断字点进行换行*/
}

.user-data{
	position: absolute;
	right:20px;
	bottom: 25px;
}

.user-data .user-item{
	display: inline-block;
	color: #fff;
	margin-left: 30px;
	height:48px;
}
.user-data .user-item span{
	display: block;
	line-height: 24px;
	text-align: center;
}
.user-data .user-item em{
	display: block;
	font-size: 1.8rem;
	line-height: 24px;
	text-align: center;
	font-style: normal;
}

.user-wrap{
	width:1100px;
	margin:0 auto;
}
.slider{
	width:200px;
	float: left;
}
.slider ul li{
	list-style: none;
	width:200px;
	height: 60px;
	border-bottom: 1px solid #eee;
	
	text-align: center;
	line-height: 60px;
	
}

.slider ul li a{
	display: inline-block;
	line-height: 60px;
	text-decoration: none;
	color:#000;
	font-size: 1.2rem;
	opacity: .6;

}

.slider ul li a:hover{
	opacity: 1;
}
.tab-bd{
	width:750px;
	/*margin-left: 40px;*/
	float: right;
	/*border:1px solid red;*/
}
/* .user-cont,.user-ask{
	width:750px;
	margin-left: 40px;
	float: right;
	border:1px solid red;

} */
.user-post{
	border-bottom:1px solid #eee;
	padding:10px 10px 10px 70px;

}
.user-post .mypost-wrap{
	position: relative;
	padding:0px 20px;
	border-left:1px solid #ccc;
}
.cont-header{
	display: block;
	font-size: 1.2rem;
	line-height: 50px;
	height:50px;
	vertical-align: bottom;
	font-weight: normal;
	border-bottom: 2px solid #ccc;
	margin-bottom:5px;
}

.mypost{

	position: relative;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	

}
.mypost-time{
	
	color:#ccc;
}
.mypost-title{
	/* margin-top: 10px;
	margin-bottom: 10px; */
	font-size: 1.8rem;
	font-weight: 500;
	height:50px;
	padding:10px 5px;

}
.mypost-info{
	margin: 10px 0;
	color:#bbb;
}
.mypost-info span{
	margin-right: 10px
}

.mypost-img{
	width:80px;
	height:80px;
	background-color: #63D075;
	position: absolute;
	right:20px;
	bottom:10px;
}

/* --------------收藏样式---------------- */
.coll-post{
	height:50px;
	position:relative;

}
.coll-post:nth-child(2n+1){
	background-color:#F9F9F9;
}
.coll-post-title{
	line-height:50px;

}
.coll-post-title a{
	text-decoration:none;
	color:#000;
}
.coll-post-title a:hover{
	color:#84CBF5;
}
.del-coll{
	position:absolute;
	line-height:50px;
	right:15px;
	cursor:pointer;
}
.del-coll a{
	text-decoration:none;
	color:#000;
}
.del-coll a:hover{
	color:#EB5280;
}

/*-------------------时间轴----------------------*/
.time-tag{
	display: inline-block;
	width:10px;
	height:10px;
	border-radius: 5px;
	background-color: #ccc;
	position: absolute;
	top:15px;
	left:-5px;
}
.time-show{
	width:60px;
	color:#8a8c8f;
	position:absolute;
	left:-70px;
	top:10px;
	text-align: right;
}
.time-show .time-show-year{
	font-size: 1.4rem;
	display:block;

}
.time-show .time-show-month{
	font-size: 1rem
	
}

@font-face {font-family: "iconfont1";
  src: url('/icon/3-icon/iconfont.eot?t=1464871943'); /* IE9*/
  src: url('/icon/3-icon/iconfont.eot?t=1464871943#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/icon/3-icon/iconfont.woff?t=1464871943') format('woff'), /* chrome, firefox */
  url('/icon/3-icon/iconfont.ttf?t=1464871943') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/icon/3-icon/iconfont.svg?t=1464871943#iconfont') format('svg'); /* iOS 4.1- */
}

.user-index{
  font-family:"iconfont1" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right:5px;
}