<%- include ../header %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include ../nav %> 
<header>
<h1>提问</h1>
</header>
<article>
<form method="post">
        提问:<br />
		<input type="text" name="quesTitle" /><br />
		具体内容：<br />
		<textarea cols="100" rows="15" name="quesDetail" id='content'>
		</textarea><br />
		<input type="submit" value="发布" />
</form>
</article>
<%- include ../footer %>