<%- include ../header %>
<link rel="stylesheet" type = 'text/css' href="/dist/css/ask.min.css">
<link rel="stylesheet" type="text/css" href="/popout/style.css">
<link rel="stylesheet" type="text/css" href="/wangEditor/dist/css/wangEditor.min.css">
<%- include ../nav %>
<div class="main">
	<article>
		<form method="post">
	        <h1>提问:</h1>
			<div id="quesTitle">
			    <input type="text" name="quesTitle" id='ques_Title' placeholder="请用一句话描述你的问题,不允许为空哦~"/>
			</div>
			<h1>具体内容：</h1>
			<div id="editContent">
				<textarea name="quesDetail" id='content' placeholder="请用具体地描述你的问题,不允许为空哦~"></textarea>
			</div><br />
			<p id="threeMax"><span class="star">*</span>至少选一项，最多选三项</p>
			<div id="tags" class="tags">
              <a href="javascript:;" class="tag" data-id="12" id="12" name="Android">Android</a>
              <a href="javascript:;" class="tag" data-id="22" name="AngularJS">AngularJS</a>
              <a href="javascript:;" class="tag" data-id="24" name="Bootstrap">Bootstrap</a>
              <a href="javascript:;" class="tag" data-id="28" name="C">C</a>
              <a href="javascript:;" class="tag" data-id="34" name="Cocos2d-x">Cocos2d-x</a>
              <a href="javascript:;" class="tag" data-id="25" name="CSS3">CSS3</a>
              <a href="javascript:;" class="tag" data-id="31" name="Go">Go</a>
              <a href="javascript:;" class="tag" data-id="5" name="Html/CSS">Html/CSS</a>
              <a href="javascript:;" class="tag" data-id="14" name="Html5">Html5</a>
              <a href="javascript:;" class="tag" data-id="19" name="iOS">iOS</a>
              <a href="javascript:;" class="tag" data-id="3" name="JAVA">JAVA</a>
              <a href="javascript:;" class="tag" data-id="17" name="JavaScript">JavaScript</a>
              <a href="javascript:;" class="tag" data-id="15" name="JQuery">JQuery</a>
              <a href="javascript:;" class="tag" data-id="20" name="Linux">Linux</a>
              <a href="javascript:;" class="tag" data-id="7" name="Maya">Maya</a>
              <a href="javascript:;" class="tag" data-id="8" name="MongoDB">MongoDB</a>
              <a href="javascript:;" class="tag" data-id="11" name="Mysql">Mysql</a>
              <a href="javascript:;" class="tag" data-id="13" name="Node.js">Node.js</a>
              <a href="javascript:;" class="tag" data-id="29" name="Oracle">Oracle</a>
              <a href="javascript:;" class="tag" data-id="10" name="Photoshop">Photoshop</a>
              <a href="javascript:;" class="tag" data-id="2" name="PHP">PHP</a>
              <a href="javascript:;" class="tag" data-id="9" name="Premiere">Premiere</a>
              <a href="javascript:;" class="tag" data-id="18" name="Python">Python</a>
              <a href="javascript:;" class="tag" data-id="36" name="SQL Server">SQL Server</a>
              <a href="javascript:;" class="tag" data-id="33" name="Unity 3D">Unity 3D</a>
              <a href="javascript:;" class="tag" data-id="27" name="WebApp">WebApp</a>
              <a href="javascript:;" class="tag" data-id="40" name="ZBrush">ZBrush</a>
              <a href="javascript:;" class="tag" data-id="21" name="云计算">云计算</a>
              <a href="javascript:;" class="tag" data-id="26" name="前端工具">前端工具</a>
              <a href="javascript:;" class="tag" data-id="35" name="大数据">大数据</a>
              <a href="javascript:;" class="tag" data-id="39" name="数据结构">数据结构</a>
          </div>
            <input type="button" id="pubQues" value="发布"/>
		</form>
	</article>
	<div class="notice">
		<h1>提问注意事项</h1>
          <dl>
            <dd>1、大家每天可以免费提出两个问题，从第三个问题起，每个问题扣除2点积分，请知晓哦；</dd>
            <dd>2、您是来解决问题？请先搜索是否已经有同类问题吧。这样您就省心少打字。</dd>
            <dd>3、没找到是么？就在发问题时精确描述你的问题，不要写与问题无关的内容哟；</dd>
            <dd>4、慕课讨论更热衷于解达您想要的答案。能引起思考和讨论的知识性问题；</dd>
            <dt>问答禁止这些提问</dt>
            <dd>1、禁止发布求职、交易、推广、广告类与问答无关信息将一律清理。</dd>
            <dd>2、尽可能详细描述您的问题，如标题与内容不符，或与问答无关的信息将被删除扣分。</dd>
            <dd>3、问答刷屏用户一律冻结帐号</dd>
          </dl>
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- 弹出框 -->
<div class="pop-cont p2" id="pop-cont">
    <div class="pop">
      <section class="pop-title"><h3>提示</h3></section>
      <section class="pop-content">问题发布成功</section>
      <section class="pop-footer">
        <a class="confirm">继续发布</a>
        <a class="cancel" >查看问题</a>     
      </section>
    </div>
  </div>
<%- include ../footer %>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="wangEditor/dist/js/wangEditor.min.js"></script>
<script type="text/javascript" src="dist/js/ask.js"></script>
<script type="text/javascript" src="/popout/popular.js"></script>
<script type="text/javascript">
   var editor=new wangEditor("content");
  if(editor){


  editor.config.uploadImgUrl="/wangEditor"
  editor.config.uploadParams={
    token: "abcd",
    name: 'wang'
  } 
}
  editor.create();
</script>
<%- include ../end %>