<%- include ../header %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/job.css">
	<script type="text/javascript" src="src/script/recruit.js"></script>
<%- include ../nav %>
	<div class="main">
	    <p class="title">
			Web前端开发职位招聘信息
		</p>

		<div class="content">
		   <div class="recruitInfo">
		        <div class="infoList">
			        <label>公司名称：</label><span>深圳腾讯</span><br>
				    <label>公司地点：</label><span>广东深圳</span><br>
				    <label>工作地点：</label><span>辽宁大连</span><br>
				    <label>招聘类型：</label><span>校园招聘</span><br>
				    <label>招聘人数：</label><span>5人</span><br>		    
				    <label>工作经验：</label><span>无工作经验</span><br>
				    <label>发布时间：</label><span>2016.03.23</span><br>
			    </div>
			    <div class="jobReq">
			    &nbsp;职位要求：<br>
			    (1) <span>精通JavaScript、Ajax等Web开发技术</span><br>
			    (2) <span>精通HTML/XHTML、CSS等网页制作技术，熟悉页面架构和布局</span><br>
			    (3) <span>熟悉W3C标准，对表现与数据分离、Web语义化等有深刻理解</span><br>
			    (4) <span>对互联网产品和Web技术有强烈兴趣，有优秀的学习能力和强烈的进取心</span><br>
			    (5) <span>具有良好的沟通能力和团队合作精神、优秀的分析问题和解决问题的能力</span><br>
			    </div>
			    <a href="#" class="more">点击查看详细信息</a>				    
		   </div>
		   <div class="recruitInfo">
		        <div class="infoList">
			        <label>公司名称：</label><span>深圳腾讯</span><br>
				    <label>公司地点：</label><span>广东深圳</span><br>
				    <label>工作地点：</label><span>辽宁大连</span><br>
				    <label>招聘类型：</label><span>校园招聘</span><br>
				    <label>招聘人数：</label><span>5人</span><br>		    
				    <label>工作经验：</label><span>3年以上工作经验</span><br>
				    <label>发布时间：</label><span>2016.03.23</span><br>
			    </div>
			    <div class="jobReq">
			    &nbsp;职位要求：<br>
			    (1) <span>精通JavaScript、Ajax等Web开发技术</span><br>
			    (2) <span>精通HTML/XHTML、CSS等网页制作技术，熟悉页面架构和布局</span><br>
			    (3) <span>熟悉W3C标准，对表现与数据分离、Web语义化等有深刻理解</span><br>
			    (4) <span>对互联网产品和Web技术有强烈兴趣，有优秀的学习能力和强烈的进取心</span><br>
			    (5) <span>具有良好的沟通能力和团队合作精神、优秀的分析问题和解决问题的能力</span><br>
			    </div>
			    <a href="#" class="more">点击查看详细信息</a>		    
		   </div>		   	    
		   <div class="recruitInfo">
		        <div class="infoList">
			        <label>公司名称：</label><span>深圳腾讯</span><br>
				    <label>公司地点：</label><span>广东深圳</span><br>
				    <label>工作地点：</label><span>辽宁大连</span><br>
				    <label>招聘类型：</label><span>校园招聘</span><br>
				    <label>招聘人数：</label><span>5人</span><br>		    
				    <label>工作经验：</label><span>无工作经验</span><br>
				    <label>发布时间：</label><span>2016.03.23</span><br>
			    </div>
			   <div class="jobReq">
			    &nbsp;职位要求：<br>
			    (1) <span>精通JavaScript、Ajax等Web开发技术</span><br>
			    (2) <span>精通HTML/XHTML、CSS等网页制作技术，熟悉页面架构和布局</span><br>
			    (3) <span>熟悉W3C标准，对表现与数据分离、Web语义化等有深刻理解</span><br>
			    (4) <span>对互联网产品和Web技术有强烈兴趣，有优秀的学习能力和强烈的进取心</span><br>
			    (5) <span>具有良好的沟通能力和团队合作精神、优秀的分析问题和解决问题的能力</span><br>
			    </div>
			    <a href="#" class="more">点击查看详细信息</a>
		   </div>
		   <div class="recruitInfo">
		        <div class="infoList">
			        <label>公司名称：</label><span>深圳腾讯</span><br>
				    <label>公司地点：</label><span>广东深圳</span><br>
				    <label>工作地点：</label><span>辽宁大连</span><br>
				    <label>招聘类型：</label><span>校园招聘</span><br>
				    <label>招聘人数：</label><span>5人</span><br>		    
				    <label>工作经验：</label><span>3年以上工作经验</span><br>
				    <label>发布时间：</label><span>2016.03.23</span><br>
			    </div>
			    <div class="jobReq">
			    &nbsp;职位要求：<br>
			    (1) <span>精通JavaScript、Ajax等Web开发技术</span><br>
			    (2) <span>精通HTML/XHTML、CSS等网页制作技术，熟悉页面架构和布局</span><br>
			    (3) <span>熟悉W3C标准，对表现与数据分离、Web语义化等有深刻理解</span><br>
			    (4) <span>对互联网产品和Web技术有强烈兴趣，有优秀的学习能力和强烈的进取心</span><br>
			    (5) <span>具有良好的沟通能力和团队合作精神、优秀的分析问题和解决问题的能力</span><br>
			    </div>
			    <a href="#" class="more">点击查看详细信息</a>			    
		   </div>
        </div>
	</div>
	
<%- include ../footer %>