.pop-cont
{
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.pop
{
	border-radius: 5px;
	background-color: #fff;
	
	min-width: 400px;
	padding:15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
}
.pop-title
{
	width: 100%;
	/*height: 15%;*/
	padding:15px;
	margin:-15px -15px 15px;
	font-size:18px;
	font-weight: normal;
	background-color: #ECF7EC;
	color: black;

}
.pop-content
{
	width: 100%;
	/* height: 70%; */
	background-color: #fff;

	font-size: 20px;
	line-height: 40px;
	padding:15px;
}
.pop-footer{
	background-color: #ECF7EC;
	padding:10px 15px;
	margin:0 -15px -15px;
	text-align: right;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;

}
.confirm,.cancel
{
	padding:10px;
	border-radius: 2px;
	margin-right: 5px;
	text-align: center;
	background-color: #97E276;
	border:none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}


.confirm:hover,.cancel:hover{
		opacity: .7;
	}

.confirm:active,.concel:active{
	opacity:1;
}
.show {
    display: block; }