<%- include ../header %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reading.css">
<%- include ../nav %>
	<section>
		<div class="container">
			<div class="main_left">
				<div class="writeNote"><a href="/note" id="write">写读书笔记</a></div>
				<div class="tabs">
					<a>热门</a><a>精选</a><a>交流</a><a>技术</a>
				</div>
				<hr/>
				<div class="content">
					<div class="note">
						<span class="author"><span><img src="/images/1.jpg" alt="author">111</span><span class="time">日期：2016-3-23</span>
						<div class="title">一篇读书笔记</div>
						<div class="content_nt">这里是一篇读书笔记的内容摘要摘要摘要摘要摘要</div>
						<span class="read">阅读：111</span>
						<span class="review">评论：111</span>
					</div>
					<hr/>
					<div class="note">
						<span class="author"><span><img src="images/2.jpg" alt="author">111</span><span class="time">日期：2016-3-23</span>
						<div class="title">一篇读书笔记</div>
						<div class="content_nt">这里是一篇读书笔记的内容摘要摘要摘要摘要摘要</div>
						<span class="read">阅读：111</span>
						<span class="review">评论：111</span>
					</div>
					<hr/>
					<div class="note">
						<span class="author"><span><img src="/images/3.jpg" alt="author">111</span><span class="time">日期：2016-3-23</span>
						<div class="title">一篇读书笔记</div>
						<div class="content_nt">这里是一篇读书笔记的内容摘要摘要摘要摘要摘要</div>
						<span class="read">阅读：111</span>
						<span class="review">评论：111</span>
					</div>
					<hr/>
					<div class="note">
						<span class="author"><span><img src="/images/4.jpg" alt="author"></span>111</span><span class="time">日期：2016-3-23</span>
						<div class="title">一篇读书笔记</div>
						<div class="content_nt">这里是一篇读书笔记的内容摘要摘要摘要摘要摘要</div>
						<span class="read">阅读：111</span>
						<span class="review">评论：111</span>
					</div>
				</div>
			</div>
			<div class="main_right">
				<div class="recommend">
					<span class="author">作者：111</span><span class="time">日期：2016-3-23</span>
					<div class="title_rd">推荐的文章标题</div>
					<div class="content_rd">这里是一篇推荐文章的内容啦内容内容内容内容</div>
				</div>
				<hr/>
				<div class="tagClound">
					标签云，现在还不会写
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">		
	</footer>
<%- include ../footer %>